import React from 'react';
import NavBar from "../../../global_components/NavBar";
import Footer from '../../../global_components/Footer';
import "../../../global_components/backgroundcolors.css"
import { useNavigate } from "react-router-dom";
import {{name}}Main from './{{name}}Main';


function {{name}}() {

  return (
    <div class="wrapper">
      <NavBar></NavBar>
        <{{name}}Main></{{name}}Main>
      <Footer></Footer>
      
    </div>
  );
}

export default {{name}};
